Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.otwarte-rewiry.pl$ [NC]
RewriteRule ^(.*)$ http://otwarte-rewiry.pl/awstats/$1 [R=301,L]
